<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5p %C:%L [%t] - %m%n</Pattern>
      </PatternLayout>
    </Console>
    <File name="FileInfo" fileName="./logs/harvest.log" append="false">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5p %C:%L [%t] - %m%n</Pattern>
      </PatternLayout>
    </File>
    <File name="FileError" fileName="./logs/error.log" append="false">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5p %C:%L [%t] - %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="FileInfo" level="INFO"/>
      <AppenderRef ref="FileError" level="ERROR"/>
      <AppenderRef ref="STDOUT" level="INFO"/>
      <AppenderRef ref="STDOUT" level="ERROR"/>
    </Root>
  </Loggers>
</Configuration>